@import "tailwindcss" source(none);

@source "maintenance.php";
@source "./layout/";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-opensans: "Open Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-image: url(/img/maya.png);
  background-position: top left;
  background-repeat: repeat;

  @variant dark {
    background-image: url(/img/maya_dark.png);
  }

  #background {
    background-image: url(/img/trazados.png);

    @variant dark {
      background-image: url(/img/trazados_dark.png);
    }
  }
}

html, :host {
  font-family: var(--font-opensans);
}

:root {
  --icon-bg: var(--color-slate-50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --icon-bg: var(--color-slate-800);
  }
}

@import "./maintenance.css";
